<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="content1">
                        <h1>Thumbnail</h1>
                    </div>
                    <div class="content2">
                        <div class="row1">
                            <div class="text">
                                <p>This is a wider card with supporting text below as a natural lead in to additional
                                    content. This content is a little bit longer.</p>
                            </div>
                        </div>
                        <div class="row2">
                            <button>View</button>
                            <button>Edit</button>
                            <i class="fa-solid fa-location-dot"><span>Location</span></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="content1">
                        <h1>Thumbnail</h1>
                    </div>
                    <div class="content2">
                        <div class="row1">
                            <div class="text">
                                <p>This is a wider card with supporting text below as a natural lead in to additional
                                    content. This content is a little bit longer.</p>
                            </div>
                        </div>
                        <div class="row2">
                            <button>View</button>
                            <button>Edit</button>
                            <i class="fa-solid fa-location-dot"><span>Location</span></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="content1">
                        <h1>Thumbnail</h1>
                    </div>
                    <div class="content2">
                        <div class="row1">
                            <div class="text">
                                <p>This is a wider card with supporting text below as a natural lead in to additional
                                    content. This content is a little bit longer.</p>
                            </div>
                        </div>
                        <div class="row2">
                            <button>View</button>
                            <button>Edit</button>
                            <i class="fa-solid fa-location-dot"><span>Location</span></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="content1">
                        <h1>Thumbnail</h1>
                    </div>
                    <div class="content2">
                        <div class="row1">
                            <div class="text">
                                <p>This is a wider card with supporting text below as a natural lead in to additional
                                    content. This content is a little bit longer.</p>
                            </div>
                        </div>
                        <div class="row2">
                            <button>View</button>
                            <button>Edit</button>
                            <i class="fa-solid fa-location-dot"><span>Location</span></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="content1">
                        <h1>Thumbnail</h1>
                    </div>
                    <div class="content2">
                        <div class="row1">
                            <div class="text">
                                <p>This is a wider card with supporting text below as a natural lead in to additional
                                    content. This content is a little bit longer.</p>
                            </div>
                        </div>
                        <div class="row2">
                            <button>View</button>
                            <button>Edit</button>
                            <i class="fa-solid fa-location-dot"><span>Location</span></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="content1">
                        <h1>Thumbnail</h1>
                    </div>
                    <div class="content2">
                        <div class="row1">
                            <div class="text">
                                <p>This is a wider card with supporting text below as a natural lead in to additional
                                    content. This content is a little bit longer.</p>
                            </div>
                        </div>
                        <div class="row2">
                            <button>View</button>
                            <button>Edit</button>
                            <i class="fa-solid fa-location-dot"><span>Location</span></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>