* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("/Images/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main {
  border: 1px solid;
}

.nav {
}

.nav .nav-list li {
  list-style: none;
}

.nav .nav-list .list-items a {
  text-decoration: none;
  color: black;
}

.nav .nav-list .list-items {
  display: inline-block;
  margin: 20px 40px;
}

.nav .nav-list .list-items :hover {
  background-color: purple;
  border-radius: 10px;
  padding: 8px 10px;
  color: white;
}
